@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p{
  font-size:16px;
}

.add-skill-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
  .add-button {
    width: 15%;
  }
}
.submit-button-section {
  display: flex;
  justify-content: center;
  width: 100%;
  .submit-button {
    width: 35%;
  }
  .cancel-button {
    width: 15%;
    margin-right: 10px;
  }
}
.bold-text {
  font-weight: bold;
}
.profile-picture{
  border-radius: 100%;
  border: 1px solid black;
}
